body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background: #f5f5f5;
}



.container {
    width: 80%;
    margin: 20px auto;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.asana {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.asana img {
    max-width: 200px;
    border-radius: 8px;
    margin-right: 20px;
}

.asana h2 {
    margin-top: 0;
    color: #333;
}

.asana p {
    margin: 5px 0;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.scroll-to-top {
    display: block;
    text-align: center;
    margin-top: 20px;
}